<div class="container px-5">
  <h1 class="text-center" style="font-family: Allan; font-style: italic">Requests</h1>
  <div class="bookings">
    <% @bookings.each do |booking| %>
    <div class="booking">
      <div class='booking-left'>
        <%= cl_image_tag(booking.job.photo.key, style: 'width:170px;height:121px;', class: 'rounded-4') %>
        <%#= cl_image_tag booking.user.photo %>
        <div class="booking-info">
          <div class="booking-info-title">
            <%= booking.job.name %>
          </div>
            <%# <%= booking.job.location%>
            <%# <div class="booking-info"> %>
            <p> Booked by: <%= booking.user.first_name%> </p>
            <%# </div> %>
            <p> <%= booking.date.strftime('%B %d, %Y')%> </p>
            <p> Total: ¥ <%= booking.job.price.to_i %> </p>
        </div>
      </div>
      <div class="booking-actions">
        <% if booking.pending? %>
          <%= simple_form_for([@user, booking], url: provider_booking_path(booking)) do |f| %>
            <%= f.input :status, as: :hidden, input_html: { value: 'accepted' } %>
            <%= f.submit "Accept", class: "btn btn-hire" %>
            <%# <%= link_to "Accept", index_provider_booking_path %>
          <% end %>
          <%= simple_form_for([@user, booking], url: provider_booking_path(booking)) do |f| %>
            <%= f.input :status, as: :hidden, input_html: { value: 'rejected' } %>
            <%= f.submit 'Decline', class: 'btn btn-hire' %>
          <% end %>

        <% else %>
          <p class='booking-tag'><%= booking.status %></p>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
