<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: jobs_path, method: :get, class: "d-flex my-3" do %>
    <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Bridesmaid"
      %>
    <%= submit_tag "Search", name: "", class: "btn btn-submit" %>
  <% end %>
  </div>
</div>

<div>

<center><h1 style="font-family: Allan; font-style: italic">Hire your Guest!</h1></center>
</div>
<div>
<center><p>For your fantastic wedding!</p></center></div>

<div class="container">
  <div class="row">
    <% @jobs.each do |job| %>
         <div class="card-profession col-3 p-4">
            <div class="img mx-auto">
              <%# <% if job.image.attached  %>
                <%= image_tag job.image, style: 'width:210px;height:150px;', class: 'rounded-4' %>
              <%# else %>
                <%#=image_tag "marriage-silhouette.jpg" %>
              <%# end %>
            </div>
            <div class="m-2">
              <h2><%= job.name %></h2>
              <p><%= job.price.to_i %> JPY</p>
            </div>

            <div class="m-2">
              <h5><%= job.location %></h5>
            </div>
            <div class="m-2">
              <%= User.find(job.user_id).first_name %>
            </div>
            <div class="card-profession-info border px-4 m-3" style="height: 140px">
              <p class="text-center"><%= job.description %></p>
            </div>
            <div class="d-grid">
              <button class="btn-hire"><%= link_to "Book this Guest", job_path(job) %></button>
            </div>
          </div>
    <% end %>
  </div>
</div>

<%# <%= cl_image_tag @item.photo.key, width: 380, height: 380, crop: :fill, class: 'img-fluid m-2' %>
<%# <%= image_tag movie.poster_url , alt: "test", class: "img-fluid m-2"%>
