<div>

<center><h1 style="font-family: Allan; font-style: italic">Hire your Guest!</h1></center>
</div>
<div>
<center><p>For your fantastic wedding!</p></center></div>

<div class="container">
  <div class="row">
    <% @jobs.each do |job| %>
         <div class="card-profession col-3">
            <div class="img">
              <%# <% if job.image.attached  %>
                <%= image_tag job.image %>
              <%# else %>
                <%#=image_tag "marriage-silhouette.jpg" %>
              <%# end %>
            </div>
            <div style="margin: 5px;">
              <h2><%= job.name %></h2>
              <%= job.price %>
            </div>
            <div class="card-profession-info">
              <%= job.location %>
              <%= job.description %>
            </div>
            <div>
              <%= User.find(job.user_id).first_name %>
            </div>
            <%= link_to "Book this Guest", user_signed_in? ? job_path(job) : new_user_session_path %>
          </div>
    <% end %>
  </div>
</div>

<%# <%= cl_image_tag @item.photo.key, width: 380, height: 380, crop: :fill, class: 'img-fluid m-2' %>
<%# <%= image_tag movie.poster_url , alt: "test", class: "img-fluid m-2"%>
