<h2 class="one_job text-center">Complete your wedding party!</h2>
<div class="d-flex flex-row justify-content-center">
  <div class="form-background col-9 border p-5 ">
    <div class="d-flex">
      <div class="col-6 border">
        <div class="icon-container">
          <h2 > <%=@job.name%>  </h2>
          <h5> <i class="fa-solid fa-location-dot"></i> <%= @job.location %>
          <i class="fa-solid fa-money-bill" class="one_job"> </i> ¥<%= @job.price.to_i %>/day </h5>
        </div>
        <%= cl_image_tag(@job.photo.key, alt: "Bridesmaid", width: 450, class: "rounded-4")  %> 
      </div>
      <div class="col-6 border container">
        <div class="description border row"> 
          <h2>Description:</h2>
          <p><%=@job.description %></p>
        </div>
        <div class="border row p-5">
          <% if @job.user != current_user %>
            <%= render "shared/form" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="nav justify-content-center m-5">
  <%= link_to "Back to the List", jobs_path, class: "btn-hire" %>
</div>
