<h2 class="one_job text-center">Complete your wedding party!</h2>
<div class="d-flex flex-row justify-content-around">
  <div class="form-background">
    <h2 > <%=@job.name%>  </h2>

    <div class="icon-container">
      <h5> <i class="fa-solid fa-location-dot"></i> <%= @job.location %>
      <i class="fa-solid fa-money-bill" class="one_job"> </i> ¥<%= @job.price.to_i %>/day </h5>
    </div>

    <div class="d-flex">
      <div class="icon-container"><%= image_tag @job.image, alt: "Bridesmaid", width: 500 %> </div>
      <%= render "shared/form" %>
    </div>

    <div class="stack">
     <div class="description"> <%=  @job.description %> </div>
    </div>
  </div>
</div>

<div class="nav justify-content-center m-5">
  <%= link_to "Back to the List", jobs_path, class: "btn-hire" %>
</div>
