<h1>Create a New Job</h1>

<%= simple_form_for [@job] do |f| %>
  <%= f.input :name %>
  <%= f.input :price %>
  <%= f.input :description %>
  <%= f.input :location %>
  <%= f.input :photo, as: :file, input_html: { multiple: false } %>
  <%= f.button :submit, class:"btn btn-hire" %>
<% end %>
